@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
* {
  /* font-family: "Protest Guerrilla", sans-serif; */
  margin: 0;
  padding: 0;
  color: beige;
}
body {
  background: grey;
}
.header {
  height: 300px;
  border-radius: 15px;
  background-color: rgb(27, 31, 35);
  margin: 10px;
  min-width: 200px;
  padding: 15px;
  position: relative;
}

.bakground-image {
  background: url("https://images.inc.com/uploaded_files/image/1024x576/getty_485008244_105123.jpg");
  border-radius: 15px 15px 0 0;
  height: 100px;
  width: 100%;
  margin-bottom: 25px;
  background-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.profile-picture {
  border-top-left-radius: 50%;
  height: 100px;
  width: 100%;
  padding: 15px;
  margin-top: 40%;
  border: 2px solid rgb(27, 31, 35);
  z-index: 2;
}
.name {
  color: beige;
  font-weight: bolder;

}
.work-experience {
  width: 500px;
  margin: 30px;
  box-shadow: 10px 10px 10px rgba(16, 137, 87, 0.636);
  border: 1px solid black;
}
.skills {
  font-size: small;
}
.contact-info {
}
/* @media all and (max-width: 640px) {
  .work-experience {
    border: 10px solid red;
  }
} */